doctype html
//if lt IE 7
  html.no-js.ie6.oldie(lang='en')
//if IE 7
  html.no-js.ie7.oldie(lang='en')
//if IE 8
  html.no-js.ie8.oldie(lang='en')
// [if gt IE 8] <!
html.no-js(lang='en-US')
    // <![endif]
    head
        // DEFAULT META TAGS
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Youyin
        // DEFAULT META TAGS
        // FONTS
        link(href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,900', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Didact+Gothic:400', rel='stylesheet', type='text/css')
        // FONTS
        // CSS
        // <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
        link#default-style-css(rel='stylesheet', href='files/css/style.css', type='text/css', media='all')
        link#wolf-css(rel='stylesheet', href='files/css/wolf.css', type='text/css', media='all')
        link#owlcarousel-css(rel='stylesheet', href='files/css/owl.carousel.css', type='text/css', media='all')
        link#fontawesome-style-css(rel='stylesheet', href='files/css/font-awesome.min.css', type='text/css', media='all')
        link#ionic-icons-style-css(rel='stylesheet', href='files/css/ionicons.css', type='text/css', media='all')
        link#mqueries-style-css(rel='stylesheet', href='files/css/mqueries.css', type='text/css', media='all')
        // CSS
        style(type='text/css').
            #mc_embed_signup{background:transparent; clear:left; font:14px; }
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        // FAVICON
        link(rel='shortcut icon', href='files/uploads/favicon.png')
        // FAVICON
    body
        // PAGELOADER
        #page-loader
            .page-loader-inner
                .loader
                    strong Loading
        // PAGELOADER
        // PAGE CONTENT
        #page-content
            // HEADER
            header#header
                .header-inner.clearfix
                    #logo.left-float.show-light-logo
                        a#dark-logo.logotype(href='index.html')
                            img(src='files/uploads/logo-small.png', srcset='files/uploads/logo-small.png 1x, files/uploads/logo-small.png 2x', alt='Logo')
                        a#light-logo.logotype(href='index.html')
                            img(src='files/uploads/logo-small.png', srcset='files/uploads/logo-small.png 1x, files/uploads/logo-small.png 2x', alt='Logo')
                    #menu.right-float.clearfix.menu-light
                        a.open-nav(href='#')
                            span.hamburger
                            span.text Menu
                        nav#main-nav
                            ul
                                li
                                    a(href='index.html') Home
                                li.current-menu-item
                                    a(href='classes.html') Classes
                                li
                                    a(href='about.html') About
                                li
                                    a(href='contact.html') Contact
                        // END .header-inner
            // HEADER
            // HERO
            section#hero.hero-auto.parallax-section(data-parallax-image='files/uploads/e1.jpg')
                .fullwidth-content.wrapper
                    .spacer.spacer-regular
                    .column-section.bordered-spaced.clearfix.accent-pricing.text-light
                        .column.one-third.pricing-table.plain
                            .pricing-title
                                h5.uppercase You Yin
                                h4.uppercase Drop-In
                                span.price-period single class
                            .pricing-price
                                span.price-unit € 9
                                span.price-period per class
                            ul.pricing-list
                                li no strings attached
                            .pricing-action
                                a.sr-button.button-small.button-1.rounded(href='contact.html') Book Class
                        .column.one-third.pricing-table.plain
                            .pricing-title
                                h5.uppercase You Yin
                                h4.uppercase Regular
                                span.price-period 5 classes
                            .pricing-price
                                span.price-unit € 40
                                span.price-period €7 per class
                            ul.pricing-list
                                li 2 months valid
                            .pricing-action
                                a.sr-button.button-small.button-1.rounded(href='contact.html') Book Class
                        .column.one-third.last-col.pricing-table.plain
                            .pricing-title
                                h5.uppercase You Yin
                                h4.uppercase Weekly
                                span.price-period 10 classes
                            .pricing-price
                                span.price-unit € 70
                                span.price-period € 6 per class
                            ul.pricing-list
                                li 3 months valid
                            .pricing-action
                                a.sr-button.button-small.button-1.rounded(href='contact.html') Book Class
            section#hero.hero-auto.parallax-section(data-parallax-image='files/uploads/e1.jpg')
                .fullwidth-content.wrapper
                   .spacer.spacer-regular
                       .column-section.bordered-spaced.clearfix.accent-pricing.text-light
                           .column.one-third.pricing-table.plain
                               .pricing-title
                                   h5.uppercase You Yin
                                   h4.uppercase Intake
                                   span.price-period Private appointment
                               .pricing-price
                                   span.price-unit € 25
                                   span.price-period per person
                               ul.pricing-list
                                   li 30 minutes
                               .pricing-action
                                   a.sr-button.button-small.button-1.rounded(href='contact.html') Book Class
                           .column.one-third.pricing-table.plain
                               .pricing-title
                                   h5.uppercase You Yin
                                   h4.uppercase Yoga Coaching
                                   span.price-period Private appointment
                               .pricing-price
                                   span.price-unit € 40
                                   span.price-period per person
                               ul.pricing-list
                                   li 45 minutes
                               .pricing-action
                                   a.sr-button.button-small.button-1.rounded(href='contact.html') Book Class
                    // END .column-section
                    .spacer.spacer-regular

            // HERO
            // PAGEBODY
            section#page-body.page-small-margin
                .horizontal-section
                    .horizontal-inner.wrapper
                        .column-section.clearfix
                            .column.one-fourth.complete-center-parent
                                p.img-circle
                                    img(src='files/uploads/yingyang.png', srcset='files/uploads/yingyang.png', alt='Logo')
                            .column.three-fourth.last-col
                                h5 Yin Yoga Class
                                p
                                    | Yin yoga is the counterpart of the fast and exciting everyday life. In Yin Yoga everything goes slowly and quietly, you take time for your body and your emotions, being in the moment. Yin Yoga makes you develop flexibility on the deeper levels. The flow of energy is stimulated and blockages are resolved. Yin yoga incorporates many elements of mindfulness and has a meditative and calming effect.
                        .column-section.clearfix
                            .column.three-fourth
                                h5 Meditation Class
                                p
                                    | In this class we practice different forms of meditation, breathing and relaxation
                                    | techniques. Meditation is the practice of turning your attention to a single point of
                                    | reference. It can involve focusing on the breath, on the body or on a word or phrase
                                    | known as a mantra. In other words, meditation means turning your attention away
                                    | from distracting thoughts and focusing on the present moment.
                            .column.one-fourth.last-col.complete-center-parent
                                p.img-circle
                                    img(src='files/uploads/mediate.png', srcset='files/uploads/mediate.png', alt='Logo')
                        .column-section.clearfix
                            .column.one-fourth.complete-center-parent
                                p.img-circle
                                    img(src='files/uploads/harp.png', srcset='files/uploads/harp.png', alt='Logo')
                            .column.three-fourth.last-col
                                h5 You Yin Harp Yoga
                                p
                                    | Together with Laura Lotti we organize special Yin Yoga and Meditation classes with live harp music. Laura, an Amsterdam based harp musician, creates music for ultimate relaxation. She is looking for inner peace, warmth and beautiful feelings in anyone who listens to her music. The harp with her soft, typical sound has a very peaceful and healing effect and takes you into an even deeper relaxation.
                        .column-section.clearfix
                            .column.three-fourth
                                h5 Yoga Coaching
                                p
                                    | Do you want to know more about what yoga can do for you? Which form suits you, how you can practice at home or anywhere else? Yoga coaching is a beautiful tool to work on your body, soul and mind in a very gentle and intuitive way. Learn to listen to your body and your breath, learn to relax and especially work on yourself. A possibility to touch all the different layers of you: physical, energetic, emotional and spiritual.
                            .column.one-fourth.last-col.complete-center-parent
                                p.img-circle
                                    img(src='files/uploads/Classes_COACHING.png', srcset='files/uploads/Classes_COACHING.png', alt='Logo')
                        .column-section.clearfix
                            .column.one-fourth.complete-center-parent
                                p.img-circle
                                    img(src='files/uploads/Classes_YINYANG.png', srcset='files/uploads/Classes_YINYANG.png', alt='Logo')
                            .column.three-fourth.last-col
                                h5 Yin Yang Yoga
                                p
                                    | Yin Yang yoga is a very nice way to get to know your Yin and Yang side and how these two can help each other. The Yin, which you to observe your body and your mind, stretches the body. The Yang, which is challenging and changing, strengthens the body. The combination is an amazing practice which makes you feel more flexible and recharged.
                        .column-section.clearfix
                            .column.three-fourth
                                h5 Moon Ceremonies (meditation & get together)
                                p
                                    | In these ceremonies we honor and use the energy of the full and new moon. We practice different forms of meditation, breathing and relaxation techniques. Meditation is the practice of turning your attention to a single point of reference. It can involve focusing on the breath, on the body or on a word or phrase known as a mantra. In other words, meditation means turning your attention away from distracting thoughts and focusing on the present moment.
                            .column.one-fourth.last-col.complete-center-parent
                                p.img-circle
                                    img(src='files/uploads/Classes_MEDITATION.png', srcset='files/uploads/Classes_MEDITATION.png', alt='Logo')
                        .column-section.clearfix
                            .column.one-fourth.complete-center-parent
                                p.img-circle
                                    img(src='files/uploads/Classes_SAVASANA.png', srcset='files/uploads/Classes_SAVASANA.png', alt='Logo')
                            .column.three-fourth.last-col
                                h5 Yoga Nidra
                                p
                                    | This yoga practice is commonly known as yogic sleep. While the practitioner rests comfortably in shavasana this systematic meditation takes you through the pancha maya kosha (five layers of self). Yoga nidra offers a space to explore what you need in the moment, as well as an opportunity to work on releasing long-held emotions. Leaving you with a sense of wholeness.
                        .column-section.clearfix
                            .column.three-fourth
                                h5 Stoelyoga
                                p
                                    | Een leuke, veilige manier om te blijven bewegen tot op zeer hoge leeftijd, terwijl men de lichaamsgrenzen leert te accepteren.  Stoelyoga maakt niet alleen het lichaam fitter, ook de geest wordt kalmer door de positieve benadering van het leven te stimuleren. Daarnaast is het een fijn samenzijn en drinken we achteraf een kopje thee
                            .column.one-fourth.last-col.complete-center-parent
                                p.img-circle
                                    img(src='files/uploads/Classes_STOELYOGA.png', srcset='files/uploads/Classes_STOELYOGA.png', alt='Logo')
                        .column-section.clearfix
                            .column.one-fourth.complete-center-parent
                                p.img-circle
                                    img(src='files/uploads/Classes_KINDERYOGA.png', srcset='files/uploads/Classes_KINDERYOGA.png', alt='Logo')
                            .column.three-fourth.last-col
                                h5 Kinderyoga
                                p
                                    | Kinderyoga is plezierig, energiek en speels! In de kinderyoga-lessen kunnen kinderen yoga ontdekken en door hun fantasie te gebruiken in ademhalingsoefeningen, spelletjes, yogahoudingen, ontspanning en visualisatie. Tijdens onze kinderyoga leren kinderen ervaren hoe prettig rust kan zijn en aan de andere kant mogen ze zich ook heerlijk laten gaan tijdens de yogales.

                        .column-section.clearfix
                            .column.three-fourth
                                h5 Coming up...
                                p
                                    | You Yin is working on several new workshops and collaborations. Expect workshops about ultimate relaxation techniques, combination workshops with mindfulness, yoga at work and on how to “mind your body”. Tamara’s also teaching at other locations sometimes. Stay up to date with our newsletter, check the schedule on this website or follow us on Facebook.
                            .column.one-fourth.last-col.complete-center-parent
                                p.img-circle
                                    img(src='files/uploads/arrow.png', srcset='files/uploads/arrow.png', alt='Logo')
                .horizontal-section.text-light.parallax-section(data-parallax-image='files/uploads/a1.jpg')
                    .horizontal-inner.wrapper.align-center
                        i.ion.ion-ios-calendar-outline.ion-4x.colored
                        h4
                            strong Upcoming classes
                        .spacer-mini
                        h5.alttitle To book a class, please send us a message
                        .spacer.spacer-mini
                        .responsive-iframe-container
                            iframe(src='https://calendar.google.com/calendar/embed?showTitle=0&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&mode=AGENDA&height=150&wkst=1&bgcolor=%23cccccc&src=1bac8ecclsgrr00fpeiudlciqo%40group.calendar.google.com&color=%2388880E&ctz=Europe%2FAmsterdam',
                            style='border-width:0',
                            width='800',
                            height='600',
                            frameborder='0',
                            scrolling='no')
                        .spacer.spacer-small
                        p
                            a.small-button.sr-button.sr-button4(href='contact.html') Book a class
                // END .horizontal-section
                .horizontal-section(style='background-color: #b8cec5;')
                    .horizontal-inner.wrapper-small.align-center
                        i.ion.ion-paper-airplane.ion-4x.colored
                        h4
                            strong Newsletter
                        .spacer.spacer-mini
                        h5.alttitle Stay up to date on the class schedule, workshops and events.
                        .spacer.spacer-small
                        #mc_embed_signup
                            form#mc-embedded-subscribe-form.validate(action='//youyin.us13.list-manage.com/subscribe/post?u=c65bd8f915223b6ed261c34b4&id=d2a9ebe964', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                                #mc_embed_signup_scroll
                                    // <label for="mce-EMAIL">Subscribe to our mailing list</label>
                                    input#mce-EMAIL.email(style='max-width: 260px;', type='email', value='', name='EMAIL', placeholder='email address', required='')
                                    // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                                    div(style='position: absolute; left: -5000px;', aria-hidden='true')
                                        input(type='text', name='b_c65bd8f915223b6ed261c34b4_d2a9ebe964', tabindex='-1', value='')
                                    .spacer.spacer-mini
                                    .clear
                                        input#mc-embedded-subscribe.button.sr-button.sr-button4.small-button.button-1.rounded(type='submit', value='Subscribe', name='subscribe')
                        // End mc_embed_signup
                // END .horizontal-section
            // PAGEBODY
            // FOOTER
            footer
                .footer-inner.wrapper
                    .column-section.clearfix
                        .column.one-half
                            .widget
                                ul.socialmedia-widget
                                    li.facebook
                                        a(href='https://www.facebook.com/youyinyoga')
                                    li.widget.copyright
                                        p
                                            | Phone:
                                            a.footercontact(href='tel:+31622399967') 06 22 39 99 67
                                            |                             &nbsp / &nbsp
                                            |                             Mail:
                                            a.footercontact(href='mailto:info@youyin.nl') info@youyin.nl
                        .column.one-half.last-col.align-right
                            .widget.copyright
                                p
                                    | Design:
                                    a(href='') T. Janmaat
                                    | &nbsp / &nbsp Development:
                                    a(href='') M. Vos
                        a#backtotop(href='#') Back To Top
        // END #page-content
        // PAGE CONTENT
        // SCRIPTS
        script(src='files/js/jquery-2.1.4.min.js')
        script(type='text/javascript', src='files/js/jquery.pace.js')
        script(type='text/javascript', src='files/js/jquery.easing.1.3.js')
        script(type='text/javascript', src='files/js/jquery.easing.compatibility.js')
        script(type='text/javascript', src='files/js/jquery.visible.min.js')
        script(type='text/javascript', src='files/js/tweenMax.js')
        script(type='text/javascript', src='files/js/jquery.backgroundparallax.min.js')
        script(type='text/javascript', src='files/js/jquery.owl.carousel.js')
        script(type='text/javascript', src='files/js/jquery.wolf.min.js')
        script(type='text/javascript', src='files/js/script.js')
        // SCRIPTS
